nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

nav a {
    padding: 1em;
    color: darkblue
}

nav table {
    border: 0.3em;
    border-color: cornflowerblue;
    border-style: solid;
    float: left;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

#lab-tabs div {
    float: left;
    margin-left: 0.5em;
    border-top: 0.3em;
    border-color:black;
    border-style: solid;
    border-bottom: 0em;
}