<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  </head>
<body>
  <header>
    <img src="{{ '/assets/banner.png' | relative_url }}" width="100%">
    {% include nav.html %}
  </header>

  {{ content }}

  <footer>
    <p>{{ site.title | default: 'Sure-Step Website' }}</p>
  </footer>
</body>
</html>
